/* general */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 5px solid var(--color-accent-dark);
    margin-bottom: var(--padding-small);
}

.section-header h2 {
    color: var(--text-primary);
}

.section-meta {
    color: var(--text-primary);
}

.card {
    border-radius: var(--padding-mini);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-layout {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: var(--padding-small);
    padding: var(--padding-small);
}

/* task-box */
.task-box {
    grid-column: start / span 3;
    width: auto;

    display: flex;
    flex-direction: column;

    margin: var(--padding-standard); /* Space around the task-box */
    padding: var(--padding-standard); /* Space inside the task-box */
    border-radius: var(--padding-small); /* This rounds the corners */ 

    background-color: var(--color-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    gap: var(--padding-small);
}

.task-tile {
  background-color: var(--color-secondary);
}

.task-tile a {
    display: block;
    color: var(--text-primary);
    text-decoration: none;
}

.events-holder {
    grid-column: 4 / end;
    background-color: var(--color-primary);
    padding: var(--padding-standard);
    margin: var(--padding-standard);
    border-radius: var(--padding-small);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

.weekday-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    gap: var(--padding-small);
}

.weekday-section {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);

    padding: var(--padding-small);
    border-radius: var(--padding-mini);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.event-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.one-time-events {
    border-right: 3px solid var(--color-primary);
    padding-right: var(--padding-small);
}

.recurring-events {
    padding-left: var(--padding-small);
}


.event-card {
    background-color: var(--color-tertiary);
}

.event-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-accent-dark);

}

.event-card a {
    display: block;
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 500;
}

