/* Page Grid */
.page {
    display: grid;
    grid-template-columns: [start] repeat(8, 1fr) [end]
}

/* Responsive Sizing */
@media (max-width: 1100px) {
    .page {
        grid-template-columns: [start] repeat(4, 1fr) [end]
    }
}

@media (max-width: 700px) {
    .page {
        grid-template-columns: [start] repeat(1, 1fr) [end]
    }
}

/* Body */
body {
    background-color: var(--color-background);
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

/* Text */

h1 {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
}

p {
    color: var(--text-primary);
    margin: var(--padding-small);
    grid-column: start / end;
}

dt {
    color: var(--text-primary);
    margin: var(--padding-small);
}

dd {
    margin: var(--padding-small);
}

/* Links */

a {
    color: var(--text-link);
}

a:visited {
    color: var(--text-link-visited);
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.9;
}

/* Header */

.header {
    grid-column: start / end;
    display: flex;
    background-color: var(--color-primary);
    padding: var(--padding-mini) var(--padding-small) var(--padding-tiny);
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: var(--padding-small);
}

.header-left h1 {
    font-size: 50px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: var(--padding-small);
}

.header-right a {
    font-size: 24px;
}

.header-right label {
    color: var(--text-primary);
    font-size: 22px;
    font-weight: 500;
}

/* Icons */

svg.icon {
    display: inline;
    height: 2.5rem;
    width: 2.5rem;
    vertical-align: middle;
    fill: currentColor;
}

svg.icon-logo {
    display: inline-block;
    height: 4.5rem;
    width: 4.5rem;
    color: var(--text-primary);
    fill: currentColor;
}

/* Containers */
.border-small {
    border: var(--padding-small) solid var(--color-primary);
    border-radius: var(--padding-small);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.border-standard {
    border: var(--padding-small) solid var(--color-primary);
    border-radius: var(--padding-standard);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Effects */
.hover-lift {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hover-lift:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


/* General */
.button {
    padding: var(--padding-mini);
    margin: 0 var(--padding-tiny) var(--padding-mini);
    border-radius: var(--padding-standard);
    background-color: var(--color-accent-dark);
    color: var(--text-secondary);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
}